<div class="flow-container">
  <ng-container>
    <div class="circle-container">
      <div class="circle">
        <svg viewBox="0 0 36 36" class="circular-chart">
          <path
            class="circle-bg"
            d="M18 2.0845
               a 15.9155 15.9155 0 0 1 0 31.831
               a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path
            class="circle-fill"
            [attr.stroke-dasharray]="getFillPercent(progress.pending) + ', 100'"
            d="M18 2.0845
               a 15.9155 15.9155 0 0 1 0 31.831
               a 15.9155 15.9155 0 0 1 0 -31.831"
          />
        </svg>
        <div class="circle-value">{{ progress.pending }}</div>
      </div>
      <div class="circle-label">Pendente</div>
    </div>
    <span class="arrow">➝</span>
    <div class="circle-container">
      <div class="circle">
        <svg viewBox="0 0 36 36" class="circular-chart">
          <path
            class="circle-bg"
            d="M18 2.0845
               a 15.9155 15.9155 0 0 1 0 31.831
               a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path
            class="circle-fill"
            [attr.stroke-dasharray]="getFillPercent(progress.running) + ', 100'"
            d="M18 2.0845
               a 15.9155 15.9155 0 0 1 0 31.831
               a 15.9155 15.9155 0 0 1 0 -31.831"
          />
        </svg>
        <div class="circle-value">{{ progress.running }}</div>
      </div>
      <div class="circle-label">Processando</div>
    </div>
    <span class="arrow">➝</span>
    <div class="circle-container">
      <div class="circle">
        <svg viewBox="0 0 36 36" class="circular-chart">
          <path
            class="circle-bg"
            d="M18 2.0845
               a 15.9155 15.9155 0 0 1 0 31.831
               a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path
            class="circle-fill"
            [attr.stroke-dasharray]="getFillPercent(progress.processed) + ', 100'"
            d="M18 2.0845
               a 15.9155 15.9155 0 0 1 0 31.831
               a 15.9155 15.9155 0 0 1 0 -31.831"
          />
        </svg>
        <div class="circle-value">{{ progress.processed }}</div>
      </div>
      <div class="circle-label">Sucesso</div>
    </div>
    <span class="arrow">➝</span>
    <div class="circle-container">
      <div class="circle">
        <svg viewBox="0 0 36 36" class="circular-chart">
          <path
            class="circle-bg"
            d="M18 2.0845
               a 15.9155 15.9155 0 0 1 0 31.831
               a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path
            class="circle-fill"
            [attr.stroke-dasharray]="getFillPercent(progress.failed) + ', 100'"
            d="M18 2.0845
               a 15.9155 15.9155 0 0 1 0 31.831
               a 15.9155 15.9155 0 0 1 0 -31.831"
          />
        </svg>
        <div class="circle-value">{{ progress.failed }}</div>
      </div>
      <div class="circle-label">Falha</div>
    </div>
  </ng-container>
</div>
