<div class="unauthorized-container">
    <mat-card class="unauthorized-card mat-elevation-z8">
      <div class="unauthorized-content">
        <mat-icon class="unauthorized-icon" fontIcon="error_outline"></mat-icon>
        <h1 class="unauthorized-title">Acesso Negado!</h1>
        <p class="unauthorized-message">
          Parece que você não tem permissão para visualizar esta página.
        </p>
        <button mat-flat-button color="primary" (click)="logout()">
          Voltar para o login
        </button>
      </div>
    </mat-card>
  </div>