<mat-sidenav-container class="layout-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" class="sidenav" opened>
    <div class="sidenav-header">
      <mat-icon>dashboard</mat-icon>
      <span class="sidenav-title">Menu</span>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">
        <mat-icon matListItemIcon>home</mat-icon>
        <div matListItemTitle>Home</div>
      </a>
    
      @if(keycloak.authenticated){
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon matListItemIcon>bar_chart</mat-icon>
          <div matListItemTitle>Dasboard</div>
        </a>
      }
      <a mat-list-item routerLink="/settings" routerLinkActive="active">
        <mat-icon matListItemIcon>settings</mat-icon>
        <div matListItemTitle>Configurações</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <!-- Header -->
    <mat-toolbar color="primary" class="header">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">Angular-App</span>
      <span class="spacer"></span>
      <div class="user-info">
        @if(userProfile){
          <mat-icon>account_circle</mat-icon>
          <span class="user-name">{{ userProfile.firstName }} {{ userProfile.lastName }}</span>
          <button mat-icon-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        } @else{
          <button mat-button class="login-button" (click)="login()">
            <mat-icon>login_to_app</mat-icon>
            <span>Entrar</span>
          </button>
        }
        
      </div>
    </mat-toolbar>

    <!-- Dashboard Content -->
    <div class="content">
      <h2>Bem-vindo(a), {{ userProfile?.firstName || 'Visitante' }}!</h2>
      <div class="card-grid">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>Visão Geral</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Resumo rápido das métricas principais.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>Atividades Recentes</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Últimas ações realizadas no sistema.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>Notificações</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Mensagens e alertas importantes.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
